<template>
    <Navbar></Navbar>
    <div class="row">
        <div v-if="isLoading">Loading Pages...</div>
        <div v-else>
            <div class="col-sm-9 card">
                <div class="card-header ">
                    <h4 class="mt-0 header-title">City/States</h4>

                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th> S.N</th>
                            <th> City/State Name</th>
                            <th> Action</th>
                        </tr>
                        <tbody>

                        <tr>
                            <td></td>

                            <td>
                                <select v-model="inputs.country_id" class="form-control form-inline"
                                        required style="width: 240px;">
                                    <option selected>Select Country</option>
                                    <option v-for="(country, index ) in countries" v-bind:key="index"
                                            :value="country.id">{{ country.country_name }}
                                    </option>
                                </select>
                                <div v-if="allErrors && allErrors['city_name']" class="text-danger">
                                    {{ allErrors['city_name'][0] }}
                                </div>
                            </td>
                            <td>
                                <input v-model="inputs.city_name" class="form-control" type="text"/>
                                <div v-if="allErrors && allErrors['country_id']" class="text-danger">
                                    {{ allErrors['country_id'][0] }}
                                </div>
                            </td>

                            <td>
                                <a class="btn btn-sm btn-success " href="#" @click="saveRows"> Save </a> &nbsp;
                            </td>
                        </tr>

                        <tr v-for="(city,index) in items" :key="city.id">
                            <td> {{ index + 1 }}</td>
                            <td> {{ city.city_name }}</td>

                            <td><a class="btn btn-sm btn-danger" href="#" @click="alertDisplay(index, page.id)"> Delete
                                <font-awesome-icon icon="coffee"></font-awesome-icon>
                            </a></td>

                        </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapGetters } from "vuex";
import {Country, City, Population} from "../../Api";
import Navbar from "../layouts/Navbar.vue";

const config = {
    headers: {
        Accept: 'application/json',
        "Content-Type": "multipart/form-data"
    }
};
export default {
    name: "CountryComponent",
    components: {
        Navbar
    },

    data: function () {
        return {
            allErrors: null,
            isEmpty: false,
            isLoading: true,
            filterItems: [],
            items: [],
            countries: [],
            inputs:
                {
                    city_name : '',
                    country_id : '',

                },
            progress: null,
            error: null,
        };
    },
    created() {
        config.headers.Authorization = `Bearer ${this.authenticated}`
        this.getEventList();

    },
    methods: {
        async getEventList(data) {
            let filterType = {
                date: this.filterItems.event
            }
            this.isLoading = true;
            axios.all([
                axios.get(City, config),
                axios.get(Country, config)
            ])
                .then(axios.spread((...responses) => {
                        console.log(responses[0].data.data)
                        this.items = responses[0].data.data;
                        this.countries = responses[1].data.data;
                    }
                ))
                .catch(error => {
                    console.log(error)
                })
                .finally(() => this.isLoading = false)
        },
        saveRows() {
            axios
                .post(City, this.inputs, config)
                .then(response => {
                    this.inputs = [];
                })
                .catch(error => {
                    console.log('error is', error.response.status);
                    if (error.response.status == 422) {
                        this.allErrors = error.response.data.errors
                    }
                    if (error.response.status == 500) {
                        this.$toasted.show('Somethings went wrongs', {
                            type: 'error',
                            theme: "outline",
                            duration: 5000
                        });
                    }
                })
                .finally(
                    () =>
                        this.getEventList()
                )
        },
        clearInputField() {

        },
        addRows() {
            this.show_input = true,
                this.inputs.push({
                    city_name : '',
                    country_id : '',
                });
        },

        removeInput(index, obj) {
            console.log(index);
            this.inputs.splice(index, 1);
        },
        deleteRow(index, invoice_product) {
            var idx = this.inputs.indexOf(invoice_product);
            console.log('delete row ', idx, index);
            if (idx > -1) {
                this.inputs.splice(idx, 1);
            }
        },
        deleteEventRemote(index, event_id) {
            console.log(index, event_id);
            this.loading = false
            axios
                .delete(City + event_id)
                .then(response => {
                })
                .catch(error => {
                    console.log(error)
                })
                .finally(() => this.loading = false)
            this.items.splice(index, 1);
        },
        alertDisplay(index, event_id) {
            this.$swal({
                title: 'Are you sure to Delete Event?',
                text: 'You can\'t revert your Event',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes Delete Event!',
                cancelButtonText: 'No, Keep it!',
                showCloseButton: true,
                showLoaderOnConfirm: true
            }).then((result) => {
                if (result.value) {
                    this.deleteEventRemote(index, event_id)
                    this.$swal('Deleted', 'You successfully deleted this item', 'success')
                } else {
                    this.$swal('Cancelled', 'You choose cancel, No Delete operation done', 'info')
                }
            })
        },

    },

    computed :{
        ...mapGetters({
            authenticated : 'auth/authenticated'
        })
    },
};

</script>
