<template>

<Navbar></Navbar>
<div class="login-page">
   <transition name="fade">
      <div v-if="!registerActive" class="wallpaper-login"></div>
   </transition>
   <div class="wallpaper-register"></div>

   <div class="container">
      <div class="row">
         <div class="col-lg-4 col-md-6 col-sm-8 mx-auto">
            <div v-if="!registerActive" class="card login" v-bind:class="{ error: emptyFields }">
               <h3>Login In</h3>
                  <input v-model="loginData.email" type="email" class="form-control mb-1" placeholder="Email" required>
                  <input v-model="loginData.password" type="password" class="form-control mb-1" placeholder="Password" required>
                  <input type="submit" class="btn btn-primary" @click="doLogin">
            </div>

         </div>
      </div>

   </div>
</div>

</template>

<script>
    import Navbar from "../layouts/Navbar.vue";
    import {Login, Loggout} from "../../Api";
    import { mapActions } from "vuex";
    const config = {
    headers: {
        Accept: 'application/json',
        "Content-Type": "multipart/form-data"
    }
};

    export default {
    name: "Login",
    components: {
        Navbar
    },

    data: function () {
        return {
            registerActive: false,
            loginData : {
                email : '',
                password : '',
            },
            confirmReg: "",
            emptyFields: false
        };
    },

   methods: {
    ...mapActions({
        Login : 'auth/Login'
    }),

    doLogin() {
        if (this.loginData.email === "" || this.loginData.password === "") {
        this.emptyFields = true;
        }
        this.Login(this.loginData).then(() =>{
            this.$router.replace({
                name: 'main-view'
            })
        }
        ).catch( () => {
            console.log('failed to login')
        });
        },
   }
};
</script>
<style>
    p {
   line-height: 1rem;
}

.card {
   padding: 20px;
}

.form-group {
   input {
      margin-bottom: 20px;
   }
}

.login-page {
   align-items: center;
   display: flex;
   height: 100vh;

   .wallpaper-login {
      background: url(https://images.pexels.com/photos/32237/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)
         no-repeat center center;
      background-size: cover;
      height: 100%;
      position: absolute;
      width: 100%;
   }

   .fade-enter-active,
   .fade-leave-active {
  transition: opacity .5s;
}
   .fade-enter,
   .fade-leave-to {
      opacity: 0;
   }

   .wallpaper-register {
      background: url(https://images.pexels.com/photos/533671/pexels-photo-533671.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)
         no-repeat center center;
      background-size: cover;
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: -1;
   }

   h1 {
      margin-bottom: 1.5rem;
   }
}

.error {
   animation-name: errorShake;
   animation-duration: 0.3s;
}

@keyframes errorShake {
   0% {
      transform: translateX(-25px);
   }
   25% {
      transform: translateX(25px);
   }
   50% {
      transform: translateX(-25px);
   }
   75% {
      transform: translateX(25px);
   }
   100% {
      transform: translateX(0);
   }
}

</style>
