<template>
    <Navbar></Navbar>
    <div class="row">
        <div v-if="isLoading">Loading Pages...</div>
        <div v-else>
            <div class="col-sm-12 card">
                <div class="card-header ">
                    <h4 class="mt-0 header-title">Population</h4>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th> S.N</th>
                            <th> Country Name</th>
                            <th> City  Name</th>
                            <th> Age Group  </th>
                            <th>Male Population</th>
                            <th>Female Population</th>
                            <th> Action</th>
                        </tr>
                        <tbody>
                        <tr>
                            <td></td>
                            <td>
                                <select v-model="inputs.country_id" class="form-control form-inline"
                                        required style="width: 200px;">
                                    <option selected>Select Country</option>
                                    <option v-for="(country, index ) in countries" v-bind:key="index"
                                            :value="country.id">{{ country.country_name }}
                                    </option>
                                </select>
                                <div v-if="allErrors && allErrors['country_id']" class="text-danger">
                                    {{ allErrors['country_id'][0] }}
                                </div>
                            </td>
                            <td>
                                <select v-model="inputs.city_id" class="form-control form-inline"
                                        required style="width: 200px;">
                                    <option selected>Select city</option>
                                    <option v-for="(city, index ) in cities" v-bind:key="index"
                                            :value="city.id">{{ city.city_name }}
                                    </option>
                                </select>
                                <div v-if="allErrors && allErrors['city_id']" class="text-danger">
                                    {{ allErrors['city_id'][0] }}
                                </div>
                            </td>
                            <td>
                                <select v-model="inputs.age_group_id" class="form-control form-inline"
                                        required style="width: 240px;">
                                    <option selected>Select AgeGroup</option>
                                    <option v-for="(age, index ) in ages" v-bind:key="index"
                                            :value="age.id">{{ age.age_group }}
                                    </option>
                                </select>
                                <div v-if="allErrors && allErrors['age_group_id']" class="text-danger">
                                    {{ allErrors['age_group_id'][0] }}
                                </div>
                            </td>
                            <td>
                                <input v-model="inputs.male_population" class="form-control" type="text"/>
                                <div v-if="allErrors && allErrors['male_population']" class="text-danger">
                                    {{ allErrors['male_population'][0] }}
                                </div>
                            </td>
                            <td>
                                <input v-model="inputs.female_population" class="form-control" type="text"/>
                                <div v-if="allErrors && allErrors['female_population']" class="text-danger">
                                    {{ allErrors['female_population'][0] }}
                                </div>
                            </td>

                            <td>
                                <a class="btn btn-sm btn-success " href="#" @click="saveRows"> Save </a> &nbsp;
                            </td>
                        </tr>

                        <tr v-for="(population,index) in items" :key="population.id">
                            <td> {{ index + 1 }}</td>
                            <td> {{ population.country.country_name }}</td>
                            <td> {{ population.city.city_namess }}</td>
                            <td> {{ population.age_group.age_group }}</td>
                            <td> {{ population.male_population }}</td>
                            <td> {{ population.female_population }}</td>
                            <td><a class="btn btn-sm btn-danger" href="#" @click="alertDisplay(index, page.id)"> Delete
                                <font-awesome-icon icon="coffee"></font-awesome-icon>
                            </a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapGetters } from "vuex";
import {Country, City, Population, AgeGroup} from "../../Api";
import Navbar from "../layouts/Navbar.vue";

const config = {
    headers: {
        Accept: 'application/json',
        "Content-Type": "multipart/form-data"
    }
};
export default {
    name: "CountryComponent",
    components: {
        Navbar
    },

    data: function () {
        return {
            allErrors: null,
            isEmpty: false,
            isLoading: true,
            filterItems: [],
            items: [],
            countries : [],
            cities : [],
            ages : [],
            inputs:
                {
                    male_population: '',
                    female_population: '',
                    country_id: '',
                    city_id: '',
                    age_group_id: '',

                },
            progress: null,
            error: null,
        };
    },
    created() {
        config.headers.Authorization = `Bearer ${this.authenticated}`
        this.getEventList();

    },
    methods: {
        async getEventList(data) {
            this.isLoading = true;
            axios.all([
                axios.get(Population, config),
                axios.get(Country, config),
                axios.get(City, config),
                axios.get(AgeGroup, config),
            ])
                .then(axios.spread((...responses) => {
                        console.log(responses[0].data.data)
                        this.items = responses[0].data.data;
                        this.countries = responses[1].data.data;
                        this.cities = responses[2].data.data;
                        this.ages = responses[3].data.data;
                    }
                ))
                .catch(error => {
                    console.log(error)
                })
                .finally(() => this.isLoading = false)
        },
        saveRows() {
            axios
                .post(Population, this.inputs, config)
                .then(response => {
                    this.inputs = [];
                })
                .catch(error => {
                    console.log('error is', error.response.status);
                    if (error.response.status == 422) {
                        this.allErrors = error.response.data.errors
                    }
                    if (error.response.status == 500) {
                        this.$toasted.show('Somethings went wrongs', {
                            type: 'error',
                            theme: "outline",
                            duration: 5000
                        });
                    }
                })
                .finally(
                    () =>
                        this.getEventList()
                )
        },
        clearInputField() {

        },
        addRows() {
            this.show_input = true,
                this.inputs.push({
                    male_population: '',
                    female_population: '',
                    country_id: '',
                    city_id: '',
                    age_group_id: '',

                });
        },

        removeInput(index, obj) {
            console.log(index);
            this.inputs.splice(index, 1);
        },
        deleteRow(index, invoice_product) {
            var idx = this.inputs.indexOf(invoice_product);
            console.log('delete row ', idx, index);
            if (idx > -1) {
                this.inputs.splice(idx, 1);
            }
        },
        deleteEventRemote(index, event_id) {
            console.log(index, event_id);
            this.loading = false
            axios
                .delete(Population + event_id)
                .then(response => {
                })
                .catch(error => {
                    console.log(error)
                })
                .finally(() => this.loading = false)
            this.items.splice(index, 1);
        },
        alertDisplay(index, event_id) {
            this.$swal({
                title: 'Are you sure to Delete Event?',
                text: 'You can\'t revert your Event',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes Delete Event!',
                cancelButtonText: 'No, Keep it!',
                showCloseButton: true,
                showLoaderOnConfirm: true
            }).then((result) => {
                if (result.value) {
                    this.deleteEventRemote(index, event_id)
                    this.$swal('Deleted', 'You successfully deleted this item', 'success')
                } else {
                    this.$swal('Cancelled', 'You choose cancel, No Delete operation done', 'info')
                }
            })
        },

    },

    computed :{
        ...mapGetters({
            authenticated : 'auth/authenticated'
        })
    },
};

</script>
