<template>
    <div class="row">
        <div v-if="isLoading">Loading Information...</div>
        <div v-else>
            <div class="col-sm-9 card">
                <div class="card-header ">
                    <h4 class="mt-0 header-title">Population Information Search</h4>
                    <div class="row">
                        <Navbar></Navbar>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="input-group mb-3">
                                <span id="basic-addon1" class="input-group-text">Filter Information</span>
                                <select @change="filterPopulationData()" v-model="filterItems.country" class="form-control form-inline"
                                        required style="width: 240px;">
                                    <option selected>All Country</option>
                                    <option v-for="(filter, index ) in countries" v-bind:key="index"
                                            :value="filter.id">{{ filter.country_name }}
                                    </option>
                                </select>
                                <select @change="filterPopulationData()" v-model="filterItems.city" class="form-control form-inline"
                                        required style="width: 240px;">
                                    <option selected>All City Page</option>
                                    <option v-for="(filter, index ) in cities" v-bind:key="index"
                                            :value="filter.id">{{ filter.city_name }}
                                    </option>
                                </select>
                                <select @change="filterPopulationData()" v-model="filterItems.population" class="form-control form-inline"
                                        required style="width: 240px;">
                                    <option selected>Population</option>
                                    <option v-for="(filter, index ) in populations" v-bind:key="index"
                                            :value="filter.event">{{ filter.event }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th> S.N</th>
                            <th> Population Type</th>
                            <th> Number</th>
                        </tr>
                        <tbody>
                        <tr v-for="(population,index) in populationData" :key="population.id">
                            <td></td>
                            <td> {{ index  }}</td>
                            <td>
                                {{ getAgeWiseTotalPopulation(population)  }}
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                    <div class="card-body">
                        <div class="card-title">
                                Population Summary Countrywise
                        </div>
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>SN</th>
                                <th>Country</th>
                                <th>Population</th>
                            </tr>
                        </thead>
                        <tr v-for="(population,country) in populationSummary" :key="population.id">
                            <td></td>
                            <td>{{ country }}</td>
                            <td>{{  getCountryTotalPopulation(population) }}</td>
                        </tr>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
import {Country, City, Population, PopulationSummary,PopulationSummaryAgewise } from "../Api";
import Store from "../Store";
import Navbar from "./layouts/Navbar.vue";

const config = {
    headers: {
        Accept: 'application/json',
        "Content-Type": "multipart/form-data",
    }
};
export default {
    name: "Frontend",
    components: {
        Navbar
    },

    data: function () {
        return {
            allErrors: null,
            isEmpty: false,
            isLoading: true,
            filterItems: {},
            countries: [],
            cities: [],
            populations: [],
            populationData : [],
            populationSummary : [],
            inputs:
            {

            },
            progress: null,
            error: null,
        };
    },
    created() {
        config.headers.Authorization = `Bearer ${this.authenticated}`
        this.getSearchItemList();
        this.filterPopulationData();
        this.PopulationDataSummary()

        console.log('Headers are', config)
        Store.dispatch('attempt', localStorage.getItem('token') );

    },
    methods: {

        ...mapActions({
            attempt : 'auth/attempt'
        }),
        ...mapGetters({
            authenticated : 'auth/authenticated'
        }),

        async getSearchItemList(data) {

            this.isLoading = true;
            axios.all([
                axios.get(Country, config),
                axios.get(City, config)
            ])
            .then(axios.spread((...responses) => {
                    this.countries = responses[0].data.data;
                    this.cities = responses[1].data.data;
                }
            ))
            .catch(error => {
                console.log(error)
            })
            .finally(() => this.isLoading = false)
        },
        clearInputField() {

        },

        removeInput(index, obj) {
            console.log(index);
            this.inputs.splice(index, 1);
        },

        filterPopulationData(){
            console.log(this.filterItems);
            this.isLoading = true;
            axios.all([
                axios.get(PopulationSummaryAgewise, { params :  this.filterItems}),

            ])
                .then(axios.spread((...responses) => {
                        console.log(responses[0].data.data)
                        this.populationData = responses[0].data.data;
                    }
                ))
                .catch(error => {
                    console.log(error)
                })
                .finally(() => this.isLoading = false)
        },

        async PopulationDataSummary(){
            console.log(this.filterItems);
            this.isLoading = true;
            axios.all([
                axios.get(PopulationSummary),

            ])
                .then(axios.spread((...responses) => {
                        console.log(responses[0].data.data)
                        this.populationSummary = responses[0].data.data;
                    }
                ))
                .catch(error => {
                    console.log(error)
                })
                .finally(() => this.isLoading = false)
        },

        getCountryTotalPopulation(population){
            return population.reduce((accumulator, object) => {
                return accumulator + (object.male + object.female );
            }, 0);

        },

        getAgeWiseTotalPopulation(population){
            return population.reduce((accumulator, object) => {
                return accumulator + (object.male + object.female );
            }, 0);

        },


    },

    computed :{
        ...mapGetters({
            authenticated : 'auth/authenticated'
        }),
    },
};

</script>
