<template>
       <nav class="navbar navbar-expand-lg navbar-light bg-light ml-1">
        <router-link :to="{ name: 'main-view' }" class="navbar-brand" >
            Home
        </router-link>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav" v-if="authenticated">
                <router-link :to="{ name: 'country-page' }" class="nav-item nav-link" >Country
                </router-link>
                <router-link :to="{ name: 'city-page' }" class="nav-item nav-link" >
                    City
                </router-link>
                <router-link :to="{ name: 'population-page' }" class="nav-item nav-link" >
                    Population
                </router-link>
                <router-link :to="{ name: 'login-page' }" class="nav-item nav-link" >
                    Logout
                </router-link>

            </div>
            <div class="navbar-nav" v-else>
                <router-link :to="{ name: 'login-page' }" class="nav-item nav-link" >
                    Login (email: admin@admin.com, pass:password)
                    </router-link>
            </div>
        </div>
        </nav>
</template>

<script>
import { mapGetters } from 'vuex';

export default {

    computed :{
        ...mapGetters({
            authenticated : 'auth/authenticated'
        })
    },
}

</script>
